### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Calculate number of players
tot_players = len(purchase_data["SN"].value_counts())

# Create data frame
num_players = pd.DataFrame({"Total Players":[tot_players]})
num_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calc number of unique items
unique = len(purchase_data["Item ID"].unique())

# Calc average price
avg_price = round(purchase_data['Price'].mean(),2)

# Calc total number of purchases
num_purch = len(purchase_data['Purchase ID'])

# Calc total revenue
tot_rev = purchase_data['Price'].sum()

# Create data frame
summary_df = pd.DataFrame({"Number of Unique Items":[unique],
                           "Average Price":[avg_price],
                           "Number of Purchases":[num_purch],
                           "Total Revenue":[tot_rev]   
                           })
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calc count and percentage of male players
m_gender = purchase_data.groupby(["Gender"]).get_group("Male")
m_count = len(m_gender["SN"].unique())
m_percent = round((m_count/tot_players) * 100,2)

# Calc count and percentage of female players
f_gender = purchase_data.groupby(["Gender"]).get_group("Female")
f_count = len(f_gender["SN"].unique())
f_percent = round((f_count/tot_players) * 100,2)

# Calc count and percentage of other / non-disclosed players
o_gender = purchase_data.groupby(["Gender"]).get_group("Other / Non-Disclosed")
o_count = len(o_gender["SN"].unique())
o_percent = round((o_count/tot_players) * 100,2)

# Create data frame
gender_df = pd.DataFrame({"Total Count":[m_count, f_count, o_count],
                           "Percentage of Players":[m_percent, f_percent, o_percent],
                           })
gender_df.index = ["Male","Female","Other / Non-Disclosed"]
gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calc data for males
m_purch_count = purchase_data["Gender"].value_counts()["Male"]
m_purch = purchase_data.loc[purchase_data["Gender"] == "Male", :]
m_app = round(m_purch["Price"].mean(), 2)
m_tot_purch = m_purch.sum()["Price"]
m_atppp = round(m_tot_purch/m_count, 2)

# Calc data for females
f_purch_count = purchase_data["Gender"].value_counts()["Female"]
f_purch = purchase_data.loc[purchase_data["Gender"] == "Female", :]
f_app = round(f_purch["Price"].mean(), 2)
f_tot_purch = f_purch.sum()["Price"]
f_atppp = round(f_tot_purch/f_count, 2)

# Calc data for other / non-disclosed
o_purch_count = purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]
o_purch = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
o_app = round(o_purch["Price"].mean(), 2)
o_tot_purch = o_purch.sum()["Price"]
o_atppp = round(o_tot_purch/o_count, 2)

# Create data frame
purchysis_df = pd.DataFrame({"Purchase Count":[m_purch_count, f_purch_count, o_purch_count],
                             "Average Purchase Price":[m_app, f_app, o_app],
                             "Total Purchase Price":[m_tot_purch, f_tot_purch, o_tot_purch],
                             "Avg Total Purchase per Person":[m_atppp, f_atppp, o_atppp]
                            })
purchysis_df.index = ["Male","Female","Other / Non-Disclosed"]
purchysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
age_demog = purchase_data.groupby("Age Bins")

# Calc numbers and percentages
count_by_bin = age_demog["SN"].count()
tot_count = purchase_data["SN"].count()
percent = round((count_by_bin / tot_count) * 100, 2)
percent

# Create data frame
age_demog_df = pd.DataFrame({"Total Count":count_by_bin,
                            "Percentage of Players":percent
                           })
age_demog_df

          Total Count  Percentage of Players
Age Bins
<10                23                   2.95
10-14              28                   3.59
15-19             136                  17.44
20-24             365                  46.79
25-29             101                  12.95
30-34              73                   9.36
35-39              41                   5.26
40+                13                   1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame